Thumbs.db
.DS_Store
.gradle
build/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath


# dependencies
/doc-gen/node_modules
/doc-gen/.pnp
.pnp.js

# testing
/doc-gen/coverage

# production
/doc-gen/build
/doc-gen/.docz

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.docz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
